<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #bb0b0b;">
  <a class="navbar-brand" href="/">Sistema Base</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
    <ul class="my-2 my-lg-0">
      <li class="nav-item">
        <%= link_to "Logout", logout_path(), :method => :delete %>
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="header">
  <h4>Hola <%= current_user.nombre %>!!</h4>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md" id="section">
      <h1>Nombre: <%= current_user.nombre %> <%= current_user.apellido %></h1>
      <h4>Seccion 1</h4>
      <br>
      <h4>Seccion 2</h4>
      <span><%= flash[:errors] %></span>
      <br>
    </div>
  </div>
</div>